<!-- Extends base.html -->
{% extends 'base.html' %}

<!-- This is the Page title -->
{% block title %} form {% endblock %}

<!-- This is the Page content -->
{% block content %}

<!-- Skapar UI för formulär med inmatning för: dag, månad och år-->
<div class="container">
  <!-- instuktioner för användaren-->
<p>Ange datum och prisklass för att se elpriser.<br>Datumet får inte vara före 2022-11-01
  och inte längre fram i tiden än 1 dag fram i tiden</p>
    <!-- Skapar en form med action till /api och method post -->
  <form action="/api" method="post">
    <div class="row">
      <div class="col">
        <label for="year">Year:</label>
        <input type="text" id="year" name="year" />
      </div>
      <div class="col">
        <label for="month">Month:</label>
        <input type="text" id="month" name="month" />
      </div>
      <div class="col">
        <label for="day">Day:</label>
        <input type="text" id="day" name="day" />
      </div>
      <div class="col">
        <label for="price_class">Price Class:</label>
        <select id="price_class" name="price_class">
          <option value="SE1">Luleå / Norra Sverige</option>
          <option value="SE2">Sundsvall / Norra Mellansverige</option>
          <option value="SE3">Stockholm / Södra Mellansverig</option>
          <option value="SE4">Malmö / Södra Sverige</option>
        </select>
      </div>
      <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
  </form>
</div>

{% endblock %}
